<div *ngIf="(recipeState | async).recipes[id]">

<div class="row">
  <div class="col-xs-12">
    <img [src]='(recipeState | async).recipes[id].imagePath' alt="{{(recipeState | async).recipes[id].name}}" class="img-responsive" style="width: 100%">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{(recipeState | async).recipes[id].name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
        <span class=caret></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="onAddToShoppingList()">To shopping list</a></li>
        <!-- <li><a style="cursor: pointer" [routerLink]="['edit']">Edit Recipe</a></li> -->
        <li><a style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{(recipeState | async).recipes[id].description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of (recipeState | async).recipes[id].ingredients">
        {{ing.name}} - {{ing.amount}}
      </li>
    </ul>
  </div>
</div>
</div>