<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item *ngFor="let recipeItem of (recipesState | async).recipes; let i=index" [index]='i' [recipe]='recipeItem'></app-recipe-item>
    </div>
</div>
