<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li role="presentation" routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!(authState | async).authenticated">
                    <li role="presentation" routerLinkActive="active"><a routerLink="/signin">Login</a></li>
                    <li role="presentation" routerLinkActive="active"><a routerLink="/signup">Register</a></li>
                </ng-template>
                <li role="presentation" *ngIf="(authState | async).authenticated"><a (click)="onLogout()" style="cursor: pointer">Logout</a></li>
                <li class="dropdown" appDropdown *ngIf="(authState | async).authenticated">
                    <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer" (click)="onSave()">Save Data</a></li>
                        <li><a style="cursor: pointer" (click)="onFetch()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>