<div class="row" style="padding-bottom: 50px">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="ngOnSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" style="margin: 3px" [disabled]="recipeForm.invalid" class="btn btn-primary">Save</button>
          <button type="button" style="margin: 3px" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath"  formControlName="imagePath" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="recipeForm.get('imagePath').value" style='width: 100%' class="img-responsive">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" rows="6" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div style="margin-top: 10px" class="row" *ngFor="let ingredient of getControls(); let i = index" [formGroupName]="i">
            <div class="col-xs-8">
              <input type="text" formControlName="name" class="form-control">
            </div>
            <div class="col-xs-2">
              <input type="number" formControlName="amount" class="form-control">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>