<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input name="name" ngModel required type="text" id="name" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input name="amount" ngModel required pattern="^[1-9]+[0-9]*$" type="number" id='amount' class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button style="margin: 3px" class="btn btn-success" type="submit" [disabled]="f.invalid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button style="margin: 3px" class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button style="margin: 3px" class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>